@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #111827;
}

.section {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 60px;
}

h1 {
  margin-bottom: 70px;
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 60px;
}

#name {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 4vh;
  text-align: center;
  width: 18%;
  font-size: 18px;
  font-weight: bold;
}

#btnCalculate {
  color: white;
  font-size: 17px;
  background-color: blue;
  height: 6vh;
  width: 110px;
  display: block;
  margin: auto;
  outline: none;
  border-radius: 50px;
  box-shadow: none;
  margin-top: 20px;
  border: black;
  box-sizing: border-box;
}

#price {
  height: 3vh;
  text-align: center;
  width: 10%;
  font-weight: bold;
}

#quantity {
  height: 3vh;
  text-align: center;
  width: 10%;
  font-weight: bold;
}

#currentPrice {
  height: 3vh;
  text-align: center;
  width: 10%;
  font-weight: bold;
}

#output {
  border: 3px solid white;
  height: 10vh;
  width: 30%;
  display: block;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  color: black;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}
